In [1]:
import pandas as pd
from sklearn import tree

In [2]:
df = pd.read_csv('male female.csv')

In [3]:
df

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     160      60         38  female
3     154      54         37  female
4     166      65         40    male
5     190      90         47    male
6     175      64         39    male
7     171      75         42  female
8     185      85         43  female
9     169      71         42    male

In [6]:
x= df.iloc[:,:-1]

In [7]:
x

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [8]:
y = df.iloc[:,3]

In [9]:
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

In [10]:
classify_ = tree.DecisionTreeClassifier()

In [12]:
classify_ = classify_.fit(x,y)

In [19]:
pred = classify_.predict([[2000,79,44]])

In [20]:
pred

array(['male'], dtype=object)